.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.filterContainer {
  display: flex;
  flex-direction: column;
}
.inputContainer {
  display: flex;
}
.input {
  background-color: #475569;
}
.icon {
  background-color: #475569;
}
.heading4 {
  color: #0f172a;
  font-weight: bold;
}
.listContainer {
  list-style-type: none;
}
.active-category {
  color: #0967d2;
}
.category {
  color: #475569;
}
.ratings-list {
  list-style-type: none;
}
.rating1 {
    color: #0967d2;
}
.rating2 {
    color: #475569;
}
.rating-img {
    height: 30px;
}
.item3 {
    display: flex;
}
